@{
    ViewData["Title"] = "Home Page";
}

<div class="row vending-machine-items-container">
    <div class="col-md-4">
        <div class="vending-machine-item">
            <h2 class="item-name">Cola</h2>
            <h3 class="item-price">$1.00</h3>
            <button class="btn btn-success item-select-button" data-name="cola" data-price="100">Select</button>
        </div>
    </div>
    <div class="col-md-4">
        <div class="vending-machine-item">
            <h2 class="item-name">Chips</h2>
            <h3 class="item-price">$0.50</h3>
            <button class="btn btn-success item-select-button" data-name="chips" data-price="50">Select</button>
        </div>
    </div>
    <div class="col-md-4">
        <div class="vending-machine-item">
            <h2 class="item-name">Candy</h2>
            <h3 class="item-price">$0.65</h3>
            <button class="btn btn-success item-select-button" data-name="candy" data-price="65">Select</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 vending-machine-display">
        <h1 id="display-text">$0 - Please insert coins</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6 form-horizontal">                
        <div class="form-group">
            <label for="coin-weight">Coin Weight</label>
            <input id="coin-weight" name="coin-weight" class="form-control" type="number" placeholder="Coin Weight"/>
        </div>
        <div class="form-group">
            <label for="coin-size">Coin Size</label>
            <input id="coin-size" name="coin-size" class="form-control" type="number" placeholder="Coin Size"/>
        </div>
        <div class="form-group">
            <button id="deposit-button" class="btn btn-primary" disabled>Depoit Coin</button>
        </div>
        <div class="form-group">
            <button id="return-coins-button" class="btn btn-danger">Return Coins</button>
        </div>
    </div>
    <div class="col-md-6 form-horizontal">
        <div class="form-group">
            <label for="coin-return">Coin Return</label>
            <textarea id="coin-return" name="coin-return" class="form-control" disabled></textarea>
        </div>
        <div class="form-group">
            <button id="take-all-coins-button" class="btn btn-success">Take All</button>
        </div>
        <div class="form-group">
            <label for="dispencary">Dispencary</label>
            <textarea id="dispencary" name="dispencary" class="form-control" disabled></textarea>
        </div>
        <div class="form-group">
            <button id="take-all-items-button" class="btn btn-success">Take All</button>
        </div>
    </div>
</div>